<launch>
	
	<node name="robocleaner" pkg="robocleaner" type="robocleaner" output="screen" required="true">
		<param name="threshold" type="double" value="0.2" /> <!-- >0.12 -->
		<param name="rotcoeff" type="double" value="0.015" />
		<param name="rotspeed" type="double" value="0.5" />
		<param name="drivespeed" type="double" value="0.07" />
	</node>
</launch>
